.admin-container {
    max-width: 1500px;
    min-height: 100vh;
    margin: 2rem auto;
    padding: 1rem;
    font-family: "Inter", sans-serif;
    color: #e5e5e5;
    background-color: #1111115a;
}

.admin-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.tab-btn {
    background-color: #8585852c;
    color: #9c9a9a;
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.425);
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    /* Ícono arriba */
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    min-width: 110px;
    font-size: 14px;
    font-weight: 600;
}

.tab-icon {
    font-size: 26px;
    /* Emojis más claros y visibles */
    line-height: 1;
}

.active-tab {
    border-color: #92de1839;
    background-color: #ffffff00;
}


.admin-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 1.5rem;
}

.admin-title {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.admin-title::before {
    content: "";
    width: 100px;
    height: 100px;
    background-image: url(../../assets/logo/favicon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    opacity: 075;
}

.admin-btn {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #fff;
}

.pedidos-btn {
    background: #16a34a;
}

.productos-btn {
    background: #2563eb;
}

.admin-btn:hover {
    filter: brightness(1.2);
    transform: translateY(-2px);
}

.pedidos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.logout-btn {
    background-color: #8585852c;
    color: #fff;
    border-radius: 5px;
    border: 2px solid rgba(255, 77, 77, 0.315);
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    min-width: 110px;
    margin-left: auto;
    transition: .4s;
}

.logout-btn .tab-icon {
    font-size: 26px;
    line-height: 1;
}

.logout-btn:hover {
    background-color: #ff4d4d55;
    transition: .3s;
}

@media (max-width: 768px) {
    .admin-header {
        align-items: flex-start;
        gap: 1rem;
    }

    .admin-title {
        font-size: 1.3rem;
    }

    .logout-btn {
        margin-bottom: 10px;
        width: 100%;
    }

    .admin-controls {
        justify-content: space-between;
        flex-flow: column-reverse;
        align-items: center;
    }

    .pedidos-container {
        grid-template-columns: 1fr;
    }
}